@import url(https://fonts.googleapis.com/css?family=League+Spartan:300,regular,500,600,700&dispalay=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:regular,500,700&dispalay=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2"),url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=_icon-]:before {
  display: block
}
._icon-facebook:before {
  content: "\e900"
}
._icon-twitter:before {
  content: "\e901"
}
._icon-instagram:before {
  content: "\e902"
}
._icon-account-balance:before {
  content: "\e903"
}
._icon-arow-select:before {
  content: "\e904"
}
._icon-border-circle:before {
  content: "\e905"
}
._icon-circle:before {
  content: "\e906"
}
._icon-currency-naira:before {
  content: "\e907"
}
._icon-dollar:before {
  content: "\e908"
}
._icon-inprivate-account:before {
  content: "\e90f"
}
._icon-mobile-download:before {
  content: "\e910"
}
._icon-money-bag:before {
  content: "\e911"
}
._icon-star:before {
  content: "\e912"
}
._icon-star-2:before {
  content: "\e913"
}
._icon-dark:before {
  content: "\e915"
}
._icon-light:before {
  content: "\e917"
}
._icon-prof-github:before {
  content: "\e909"
}
._icon-prof-mail:before {
  content: "\e90a"
}
._icon-prof-phone:before {
  content: "\e90b"
}
._icon-prof-telegram:before {
  content: "\e90c"
}
._icon-prof-viber:before {
  content: "\e90d"
}
._icon-prof-whatsapp:before {
  content: "\e90e"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
:active,
:focus {
  outline: 0
}
a:active,
a:focus {
  outline: 0
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #263238;
  line-height: 1;
  font-family: "League Spartan";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.light body {
  background-color: #fff;
  color: #263238
}
button,
input,
textarea {
  font-family: "League Spartan";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #263238;
  color: #fff
}
.light body {
  background-color: #fff;
  color: #263238
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 103.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*=__container-s] {
  max-width: 88.75rem;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0
}
.form {
  display: flex;
  gap: .625rem;
  padding: .375rem;
  background-color: #fff;
  overflow: hidden;
  border-radius: .625rem;
  max-width: 33.3125rem;
  margin: 0 auto;
  color: #263238
}
.form__input {
  min-height: 4rem;
  font-weight: 500
}
.light .form {
  background-color: #eaebec
}
.button-theme {
  font-weight: 500;
  border: .0625rem solid #000;
  padding: 1.25rem 2.73875rem
}
.button {
  flex-shrink: 0;
  font-family: Lato;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.3125rem 1.5724375rem;
  line-height: 1.223;
  color: #fff;
  background-color: #23b123;
  border-radius: .625rem;
  transition: all .3s ease 0s
}
.button:focus,
.button:hover {
  background-color: #059205
}
.light .button {
  background-color: green
}
.light .button:focus,
.light .button:hover {
  background-color: #23b123
}
.button--fw {
  width: 100%
}
.button--form {
  padding: 1.3125rem 2.229375rem
}
.button--form-footer {
  padding: 1.3125rem 2.119375rem
}
.button-border {
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: Lato;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  padding: 1.25rem 2.73875rem;
  line-height: 1.223;
  border: .0625rem solid #fff;
  border-radius: .625rem;
  transition: all .3s ease 0s
}
.button-border:focus,
.button-border:hover {
  border: .0625rem solid #23b123;
  color: #23b123
}
.light .button-border {
  transition: all .3s ease 0s;
  border: .0625rem solid #263238
}
.light .button-border:focus,
.light .button-border:hover {
  border: .0625rem solid green;
  color: green
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 0!important;
  width: 100%;
  display: block;
  padding: 0 13px;
  caret-color: inherit
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  font-weight: 500;
  color: #263238
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  font-weight: 500;
  color: #263238
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  font-weight: 500;
  color: #263238
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  font-weight: 500;
  color: #263238
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.checkbox {
  position: relative
}
.checkbox:not(:last-child) {
  margin-bottom: em(5)
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0
}
.checkbox__input:focus-visible + .checkbox__label:before {
  box-shadow: 0 0 5px #000
}
.checkbox__input:checked + .checkbox__label:before {
  background: #000
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  gap: 10px
}
.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac
}
.checkbox__text {
  align-self: center
}
.checkbox-theme {
  position: relative
}
.checkbox-theme__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0
}
.checkbox-theme__input:focus-visible + .checkbox-theme__label:before {
  box-shadow: 0 0 .625rem #72797a
}
.checkbox-theme__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 2.5rem;
  height: 1.25rem;
  box-shadow: inset 0 0 .3125rem #141414;
  border-radius: 1.25rem
}
.checkbox-theme__label::before {
  content: "";
  z-index: 5;
  display: flex;
  width: 1.1875rem;
  height: 1.1875rem;
  border-radius: 50%;
  background-color: #23b123;
  -webkit-transform: translate(1.25rem,0);
  transform: translate(1.25rem,0);
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all .3s ease 0s
}
.light .checkbox-theme__label::before {
  background-color: green;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.dark .checkbox-theme__label::before {
  background-color: green;
  -webkit-transform: translate(1.25rem,0);
  transform: translate(1.25rem,0)
}
.checkbox-theme__icon {
  display: inline-flex;
  align-items: center
}
.checkbox-theme__icon::before {
  font-size: 1.25rem
}
._icon-light {
  color: rgba(38,50,56,.4);
  position: absolute;
  top: 0;
  right: 0
}
._icon-dark {
  position: absolute;
  top: 0;
  left: 0
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: .3125rem
}
.menu__link {
  transition: color .3s ease 0s
}
.menu__link:focus,
.menu__link:hover {
  color: #23b123
}
.light .menu__link:hover {
  color: green
}
.icon-menu {
  display: none
}
.spollers {
  display: grid;
  gap: 1.5rem;
  min-width: 0
}
.spollers__item {
  min-width: 0;
  font-size: 1.5rem
}
.spollers__title {
  align-items: center;
  display: inline-flex;
  gap: .9375rem;
  justify-content: space-between;
  min-width: 0;
  background-color: #313c42;
  padding: 1.5rem 1.875rem;
  width: 100%;
  cursor: default;
  text-align: left;
  border-radius: .625rem;
  position: relative;
  list-style: none;
  line-height: 1.3
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active {
  min-width: 0
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.light .spollers__title {
  background-color: #f2f9f2
}
.spollers__body {
  margin-top: -6px;
  z-index: -1;
  padding: 1.875rem;
  background-color: rgba(255,255,255,.05);
  border-radius: 0 0 .625rem .625rem;
  border-top: 1px solid rgba(38,50,56,.735);
  box-shadow: inset 0 0 6.25rem #263238
}
.light .spollers__body {
  background-color: rgba(0,128,0,.05);
  border-top: 1px solid #f2f9f2;
  box-shadow: inset 0 0 6.25rem rgba(0,128,0,.05)
}
._icon-arow-select {
  align-self: center;
  font-size: 1.5rem;
  color: #23b123;
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s
}
._spoller-active ._icon-arow-select {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  font-weight: 700;
  letter-spacing: .02em
}
.title span {
  color: #23b123
}
.light .title span {
  color: green
}
.link {
  transition: color .3s ease 0s
}
.link:focus,
.link:hover {
  color: #23b123
}
.light .link:hover {
  color: green
}
.circle {
  position: absolute
}
.circle::before {
  content: "";
  display: block;
  border: .0625rem solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%
}
.light .circle::before {
  border: .0625rem solid green
}
.circle--header-1::before {
  -webkit-transform: translate(-40%,-89%);
  transform: translate(-40%,-89%)
}
.circle--header-2::before {
  -webkit-transform: translate(-50%,-80%);
  transform: translate(-50%,-80%)
}
.decor-invest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.decor-invest__item {
  transition: opacity .9s ease 0s;
  position: absolute
}
.light .decor-invest__item {
  color: rgba(38,50,56,.4)
}
._icon-money-bag {
  font-size: 3rem;
  bottom: 113.3689839572%;
  left: 67.2839506173%
}
._icon-star {
  font-size: 2.375rem;
  top: 25%;
  left: 21.6049382716%
}
._icon-currency-naira {
  font-size: 2rem;
  bottom: 71.9298245614%;
  right: .625rem
}
._icon-circle {
  top: 29.4486215539%;
  left: 81.6666666667%
}
._icon-dollar {
  font-size: 2rem;
  bottom: 11.9047619048%;
  left: .9375rem
}
._icon-border-circle {
  bottom: 0;
  left: 24.8148148148%
}
._icon-star-2 {
  font-size: 2.5rem;
  top: 100.2506265664%;
  right: 15.4320987654%
}
.image-block {
  position: relative;
  align-self: start;
  background-color: rgba(255,255,255,.05);
  border-radius: 1.25rem;
  overflow: hidden;
  justify-self: center
}
.image-block__img {
  border-radius: 1.25rem;
  overflow: hidden
}
.image-block--farm-vest {
  max-width: 41.25rem
}
.image-block--pathway {
  max-width: 38.375rem
}
.light .image-block {
  background-color: rgba(0,128,0,.05)
}
.image-block__circle {
  z-index: -1
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100
}
.header::before {
  content: "";
  opacity: 0;
  transition: all .3s ease 0s;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  background: #263238;
  background: linear-gradient(0deg,rgba(38,50,56,.9) 0,#263238 80%);
  z-index: -1
}
.light .header::before {
  background-color: #fff;
  background: linear-gradient(0deg,rgba(255,255,255,.9) 0,#fff 70%)
}
.header._header-scroll::before {
  opacity: 1;
  top: 0
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height .3s ease 0s
}
.header__logo {
  z-index: 102;
  display: inline-flex;
  font-family: Lato;
  font-size: 2.25rem;
  font-weight: 500
}
.header__menu {
  font-family: Lato;
  line-height: 1.2
}
.header__actions {
  z-index: 102;
  display: flex;
  align-items: center;
  gap: 1.5625rem
}
.footer {
  background: rgba(53,64,70,.5)
}
.light .footer {
  background-color: rgba(242,248,242,.5)
}
.main-footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-bottom: .0625rem solid rgba(255,255,255,.42);
  gap: 2.5rem
}
.light .main-footer {
  border-bottom: .0625rem solid rgba(38,50,56,.31)
}
.main-footer__info {
  line-height: 1.3;
  letter-spacing: .02em
}
.main-footer__logo {
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: .04em
}
.main-footer__logo:not(:last-child) {
  margin-bottom: 1.5rem
}
.main-footer__text {
  max-width: 19.125rem;
  line-height: 1.7
}
.form-footer {
  justify-self: center;
  width: 100%;
  max-width: 33.3125rem
}
.form-footer__text {
  max-width: 25rem;
  line-height: 1.7;
  letter-spacing: .02em
}
.form-footer__text:not(:last-child) {
  margin-bottom: 1.5rem
}
.form-footer__form {
  width: 100%
}
.contacts-footer {
  display: flex;
  gap: 3rem
}
.contacts-footer__call-label {
  font-size: 1rem;
  font-weight: 43.75rem;
  line-height: 1.7
}
.contacts-footer__call-label:not(:last-child) {
  margin-bottom: 1.5rem
}
.contacts-footer__phone {
  font-size: 1rem
}
.social-footer__label {
  font-size: 1rem;
  font-weight: 43.75rem;
  line-height: 1.7
}
.social-footer__label:not(:last-child) {
  margin-bottom: 1.5rem
}
.social-footer__wrap {
  display: flex;
  gap: .9375rem
}
.social-footer__item {
  flex-shrink: 0
}
.social-footer__item::before {
  flex: 0 0 48;
  font-size: 1.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  transition: box-shadow .3s ease 0s
}
.light .social-footer__item::before {
  background-color: green;
  color: #fff
}
.social-footer__item:hover::before {
  box-shadow: 0 0 1.25rem #7ab677
}
.light .social-footer__item:hover::before {
  box-shadow: 0 0 1.25rem #105c0c
}
.bottom-footer {
  display: flex;
  gap: 1.875rem;
  align-items: center
}
.bottom-footer__copy {
  flex: 1 0 auto;
  font-size: .75rem;
  font-weight: 300
}
.menu-footer {
  text-align: center
}
.menu-footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: .875rem
}
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start
}
.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit
}
.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto!important;
  height: auto!important;
  z-index: 0
}
.simplebar-offset {
  direction: inherit!important;
  box-sizing: inherit!important;
  resize: none!important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch
}
.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box!important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0
}
.simplebar-content:after,
.simplebar-content:before {
  content: " ";
  display: table
}
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none
}
.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit!important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0
}
.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1
}
.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden
}
[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all
}
.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px
}
.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background-color: green;
  box-shadow: inset 0 0 .25rem #1e1e1e;
  border-radius: 10px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity .2s .5s linear;
  height: 7px
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: .5;
  transition-delay: 0s;
  transition-duration: 0s
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px
}
.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
  box-shadow: inset 0 0 .4375rem #222525;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto
}
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0
}
.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar!important
}
.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0
}
.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.invest__container {
  position: relative
}
.invest__content {
  position: relative;
  z-index: 5
}
.invest__title {
  text-align: center;
  max-width: 52.5rem;
  margin: 0 auto
}
.invest__text {
  max-width: 38.75rem;
  text-align: center;
  line-height: 1.8;
  letter-spacing: .03em;
  margin: 0 auto
}
.invest__text:not(:last-child) {
  margin-bottom: 3rem
}
.partners__items {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: center;
  gap: 2.5rem
}
.partners__item {
  padding-bottom: 20px
}
.dark .partners .light-img {
  display: none
}
.dark .partners .dark-img {
  display: block
}
.light .partners .dark-img {
  display: none
}
.light .partners .light-img {
  display: block
}
.farm-vest__container-s {
  display: grid;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: 3.125rem
}
.farm-vest__title {
  max-width: 35.9375rem;
  font-size: 4rem
}
.farm-vest__title:not(:last-child) {
  margin-bottom: 2rem
}
.farm-vest__text {
  max-width: 50rem;
  letter-spacing: .05em;
  line-height: 1.7
}
.farm-vest__text:not(:last-child) {
  margin-bottom: 3rem
}
.farm-vest__steps {
  display: flex;
  flex-direction: column;
  gap: 3rem
}
.farm-vest__image-block {
  justify-self: center
}
.farm-vest__circle {
  top: 0;
  right: 0
}
.farm-vest__circle:nth-child(1)::before {
  -webkit-transform: translate(48%,-20%);
  transform: translate(48%,-20%)
}
.farm-vest__circle:nth-child(2)::before {
  -webkit-transform: translate(48%,-6%);
  transform: translate(48%,-6%)
}
.item-farm-vest {
  display: flex;
  align-items: center
}
.item-farm-vest__icon {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.875rem;
  height: 6.875rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0,128,0,.1)
}
.item-farm-vest__icon::before {
  color: #23b123
}
.light .item-farm-vest__icon::before {
  color: green
}
.item-farm-vest__content {
  display: flex;
  flex-direction: column;
  gap: 1rem
}
.item-farm-vest__label {
  font-size: 1.25rem;
  font-weight: 700
}
.item-farm-vest__text {
  line-height: 1.8
}
.pathway__container-s {
  display: grid;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: 3.125rem
}
.pathway__image-block {
  max-width: 43.375rem
}
.pathway__circle {
  z-index: -1;
  bottom: 0;
  left: 0
}
.pathway__circle:nth-child(1)::before {
  -webkit-transform: translate(-40%,6%);
  transform: translate(-40%,6%)
}
.pathway__circle:nth-child(2)::before {
  -webkit-transform: translate(-38%,18%);
  transform: translate(-38%,18%)
}
.pathway__title:not(:last-child) {
  margin-bottom: 2rem
}
.pathway__text {
  max-width: 50rem;
  line-height: 1.8;
  letter-spacing: .03em
}
.pathway__text:not(:last-child) {
  margin-bottom: 3rem
}
.why__container-s {
  display: grid;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: 3.125rem
}
.why__content {
  display: flex;
  flex-direction: column
}
.why__title:not(:last-child) {
  margin-bottom: 2rem
}
.why__text {
  max-width: 50rem;
  line-height: 1.7;
  letter-spacing: .022em
}
.why__text:not(:last-child) {
  margin-bottom: 3rem
}
.why__steps:not(:last-child) {
  margin-bottom: 3rem
}
.why__button {
  align-self: start;
  padding-left: 3.9375rem;
  padding-right: 3.9375rem;
  letter-spacing: .0251em
}
.why__circle {
  top: 0;
  right: 0
}
.why__circle:nth-child(1)::before {
  -webkit-transform: translate(48%,-20%);
  transform: translate(48%,-20%)
}
.why__circle:nth-child(2)::before {
  -webkit-transform: translate(48%,-6%);
  transform: translate(48%,-6%)
}
.steps-why {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  counter-reset: item
}
.steps-why__item {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 50px
}
.steps-why__item::before {
  content: counter(item);
  counter-increment: item;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  font-weight: 700;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgba(255,255,255,.05)
}
.light .steps-why__item::before {
  color: green;
  background-color: rgba(0,128,0,.1)
}
.customers__container-s {
  display: flex;
  flex-direction: column;
  row-gap: 3rem
}
.customers__header {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center
}
.customers__title {
  max-width: 68.75rem;
  text-align: center
}
.customers__text {
  text-align: center;
  line-height: 1.7;
  max-width: 30.5625rem;
  letter-spacing: .03em
}
.customers__items {
  display: flex
}
.customers__button {
  align-self: center;
  padding-left: 4.90625rem;
  padding-right: 4.90625rem;
  letter-spacing: .002em
}
.item-customers {
  display: flex;
  background-color: rgba(255,255,255,.05);
  border-radius: 1.25rem;
  overflow: hidden
}
.light .item-customers {
  background-color: rgba(0,128,0,.05)
}
.item-customers__image-wrap {
  min-height: 23.5625rem;
  position: relative;
  flex: 0 0 45.2095808383%;
  padding-bottom: 54.9562682216%
}
.item-customers__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.item-customers__content-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  padding: 2rem
}
.item-customers__text {
  line-height: 1.7;
  letter-spacing: .03em;
  flex: 1 1 auto
}
.item-customers__name {
  font-weight: 600
}
.app__content {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  align-items: center;
  background-color: rgba(255,255,255,.07);
  border-radius: 1.25rem;
  padding-top: 4.5rem;
  padding-bottom: 3.875rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem
}
.light .app__content {
  background-color: rgba(0,128,0,.05)
}
.app__circle {
  z-index: -1;
  top: 0
}
.app__circle::before {
  border: .0625rem solid rgba(255,255,255,.37)
}
.app__circle:nth-child(1)::before {
  -webkit-transform: translate(0,-20%);
  transform: translate(0,-20%)
}
.app__circle:nth-child(2)::before {
  -webkit-transform: translate(0,-6%);
  transform: translate(0,-6%)
}
.light .app__circle::before {
  opacity: 1
}
.app__title {
  text-align: center;
  line-height: 1.1;
  max-width: 45.625rem;
  font-size: 3.5rem;
  letter-spacing: .04em
}
.app__images {
  display: flex;
  gap: 1.5625rem;
  flex-wrap: wrap;
  justify-content: center
}
.app__image {
  max-width: 10.5rem
}
.app__image img {
  width: 100%
}
@media (min-width:29.99875em) {
  .contacts-footer {
    justify-self: end
  }
}
@media (min-width:61.99875em) and (min-width:101.25em) {
  .header__button-border {
    padding-right: 2.73875rem
  }
  .header__button-border {
    padding-left: 2.73875rem
  }
  .header__button-border {
    padding-top: 1.25rem
  }
  .header__button-border {
    padding-bottom: 1.25rem
  }
  .header__button {
    padding-right: 1.5724375rem
  }
  .header__button {
    padding-left: 1.5724375rem
  }
  .header__button {
    padding-top: 1.3125rem
  }
  .header__button {
    padding-bottom: 1.3125rem
  }
}
@media (min-width:61.99875em) {
  .form-footer__text {
    max-width: 23.0625rem
  }
  .farm-vest__container-s {
    grid-template-columns: 1fr 52.8169014085%
  }
  .farm-vest__text {
    max-width: 31.25rem
  }
  .item-farm-vest__content {
    max-width: 17.5rem
  }
  .pathway__container-s {
    grid-template-columns: 1fr 42.2535211268%;
    justify-content: space-between
  }
  .pathway__image-block {
    justify-self: start
  }
  .pathway__title {
    max-width: 33.0625rem
  }
  .pathway__text {
    max-width: 28.75rem
  }
  .why__container-s {
    grid-template-columns: 42.2535211268% 1fr
  }
  .why__text {
    max-width: 30rem
  }
  .item-customers__image-wrap {
    max-width: 18.875rem
  }
}
@media (min-width:88.75em) {
  .menu__list {
    -webkit-column-gap: 2.6875rem;
    -moz-column-gap: 2.6875rem;
    column-gap: 2.6875rem
  }
}
@media (min-width:101.25em) {
  .header__menu {
    padding-left: 12.5rem
  }
}
@media (min-width:103.125em) {
  .spollers__title {
    padding-left: 1.875rem
  }
  .spollers__title {
    padding-right: 1.875rem
  }
  .spollers__body {
    font-size: 1.125rem
  }
  .title {
    font-size: 4.375rem
  }
  .circle {
    width: 36.5625rem
  }
  .circle {
    height: 36.5625rem
  }
  ._icon-money-bag {
    top: -5.625rem
  }
  .image-block__circle {
    width: 36.5625rem
  }
  .image-block__circle {
    height: 36.5625rem
  }
  .header::before {
    height: 7.5rem
  }
  .header__container {
    height: 11.5rem
  }
  .header__container {
    gap: 1.875rem
  }
  ._header-scroll .header__container {
    height: 7.5rem
  }
  .footer__container {
    padding-top: 4.25rem
  }
  .main-footer {
    padding-bottom: 6.25rem
  }
  .bottom-footer {
    padding-top: 3.5rem
  }
  .bottom-footer {
    padding-bottom: 3.5rem
  }
  .menu-footer__list {
    gap: 2.8125rem
  }
  .page {
    padding-top: 15.6875rem
  }
  .page {
    padding-bottom: 12.5rem
  }
  .page__partners {
    padding-top: 13.3125rem
  }
  .page__farm-vest {
    padding-top: 12.5rem
  }
  .page__pathway {
    padding-top: 12.5rem
  }
  .page__why {
    padding-top: 12.5rem
  }
  .page__customers {
    padding-top: 12.5rem
  }
  .page__app {
    padding-top: 12.5rem
  }
  .invest__title {
    font-size: 4.375rem
  }
  .invest__title:not(:last-child) {
    margin-bottom: 4.3125rem
  }
  .farm-vest__image-block {
    padding-top: 10.375rem
  }
  .farm-vest__image-block {
    padding-bottom: 10.375rem
  }
  .farm-vest__image-block {
    padding-left: 2.8125rem
  }
  .farm-vest__image-block {
    padding-right: 2.8125rem
  }
  .item-farm-vest {
    gap: 2rem
  }
  .item-farm-vest__icon {
    width: 6.875rem
  }
  .item-farm-vest__icon {
    height: 6.875rem
  }
  .item-farm-vest__icon::before {
    font-size: 3.5rem
  }
  .pathway__image-block {
    padding-top: 6.1875rem
  }
  .pathway__image-block {
    padding-bottom: 6.1875rem
  }
  .pathway__image-block {
    padding-left: 2.5rem
  }
  .pathway__image-block {
    padding-right: 2.5rem
  }
  .pathway__title {
    font-size: 4.375rem
  }
  .steps-why {
    gap: 3rem
  }
  .customers__items {
    gap: 3rem
  }
  .app__title {
    font-size: 3.5rem
  }
}
@media (max-width:75em) {
  .contacts-footer {
    flex-direction: column
  }
}
@media (max-width:20em) {
  .spollers__title {
    padding-left: .625rem
  }
  .spollers__title {
    padding-right: .625rem
  }
  .spollers__body {
    font-size: 1rem
  }
  .title {
    font-size: 3.75rem
  }
  .circle {
    width: 21.875rem
  }
  .circle {
    height: 21.875rem
  }
  ._icon-money-bag {
    top: -5rem
  }
  .image-block__circle {
    width: 36.5625rem
  }
  .image-block__circle {
    height: 36.5625rem
  }
  .header::before {
    height: 6.25rem
  }
  .header__container {
    height: 6.25rem
  }
  .header__container {
    gap: 1.25rem
  }
  ._header-scroll .header__container {
    height: 6.25rem
  }
  .footer__container {
    padding-top: 1.875rem
  }
  .main-footer {
    padding-bottom: 3.125rem
  }
  .bottom-footer {
    padding-top: 1.25rem
  }
  .bottom-footer {
    padding-bottom: 1.25rem
  }
  .menu-footer__list {
    gap: 1.25rem
  }
  .page {
    padding-top: 9.375rem
  }
  .page {
    padding-bottom: 6.25rem
  }
  .page__partners {
    padding-top: 5.625rem
  }
  .page__farm-vest {
    padding-top: 5.625rem
  }
  .page__pathway {
    padding-top: 5.625rem
  }
  .page__why {
    padding-top: 5.625rem
  }
  .page__customers {
    padding-top: 5.625rem
  }
  .page__app {
    padding-top: 5.625rem
  }
  .invest__title {
    font-size: 3.125rem
  }
  .invest__title:not(:last-child) {
    margin-bottom: 3rem
  }
  .farm-vest__image-block {
    padding-top: 3.75rem
  }
  .farm-vest__image-block {
    padding-bottom: 3.75rem
  }
  .farm-vest__image-block {
    padding-left: .625rem
  }
  .farm-vest__image-block {
    padding-right: .625rem
  }
  .item-farm-vest {
    gap: 1.25rem
  }
  .item-farm-vest__icon {
    width: 3.125rem
  }
  .item-farm-vest__icon {
    height: 3.125rem
  }
  .item-farm-vest__icon::before {
    font-size: 1.875rem
  }
  .pathway__image-block {
    padding-top: 3.75rem
  }
  .pathway__image-block {
    padding-bottom: 3.75rem
  }
  .pathway__image-block {
    padding-left: .625rem
  }
  .pathway__image-block {
    padding-right: .625rem
  }
  .pathway__title {
    font-size: 3.125rem
  }
  .steps-why {
    gap: 2.5rem
  }
  .customers__items {
    gap: 2.5rem
  }
  .app__title {
    font-size: 2.25rem
  }
}
@media (max-width:62.5em) {
  .header__menu {
    padding-left: .0000000625rem
  }
}
@media (max-width:61.99875em) {
  .dark .circle {
    opacity: .2
  }
  .light .circle::before {
    opacity: .5;
    border: .0625rem solid green
  }
  .dark .image-block__circle {
    opacity: 1
  }
  .light .image-block__circle::before {
    opacity: 1
  }
  .header__button {
    display: none
  }
  .main-footer {
    grid-template-columns: repeat(2,1fr)
  }
  .pathway__image-block {
    order: 2
  }
  .pathway__content {
    order: 1
  }
  .why__button {
    align-self: center
  }
  .item-customers {
    flex-direction: column
  }
  .dark .app__circle {
    opacity: 1
  }
  .light .app__circle::before {
    opacity: 1
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s;
    background-color: #263238
  }
  .light .menu__body {
    background-color: #fff
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background: #263238;
    background: linear-gradient(0deg,rgba(38,50,56,.9) 0,#263238 70%)
  }
  .light .menu__body::before {
    background-color: #fff;
    background: linear-gradient(0deg,rgba(255,255,255,.9) 0,#fff 70%)
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .menu__list {
    padding-top: 5rem;
    flex-direction: column;
    row-gap: 1.875rem;
    align-items: center;
    font-size: 2.5rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.875rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .1875rem;
    background-color: #23b123
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .125rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .light .circle::before {
    opacity: .3;
    border: .0625rem solid green
  }
  .light .decor-invest__item {
    opacity: .5
  }
  .decor-invest__item {
    opacity: .2
  }
  .light .image-block__circle::before {
    opacity: 1
  }
  .header__button {
    min-width: 12.5rem;
    display: inline-flex;
    margin: 0 auto
  }
}
@media (max-width:47.99875em) and (max-width:20em) {
  .menu__body::before {
    height: 6.25rem
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:43.75em) {
  .bottom-footer {
    flex-direction: column-reverse
  }
}
@media (max-width:34.375em) {
  .customers__items {
    flex-direction: column
  }
}
@media (max-width:31.31125em) {
  .header__button {
    width: 100%
  }
}
@media (max-width:29.99875em) {
  .main-footer {
    grid-template-columns: 1fr
  }
  .contacts-footer {
    justify-self: center;
    text-align: center
  }
}
@media (max-width:24.375em) {
  .form {
    flex-direction: column
  }
}
@media (max-width:47.99875em) and (min-width:103.125em) {
  .menu__body::before {
    height: 11.5rem
  }
}
@media (max-width:47.99875em) and (min-width:20em) and (max-width:103.125em) {
  @supports (height:clamp(6.25rem ,4.9868421053rem + 6.3157894737vw ,11.5rem)) {
    .menu__body::before {
      height: clamp(6.25rem ,4.9868421053rem + 6.3157894737vw ,11.5rem)
    }
  }
  @supports not (height:clamp(6.25rem ,4.9868421053rem + 6.3157894737vw ,11.5rem)) {
    .menu__body::before {
      height: calc(6.25rem + 5.25 * (100vw - 20rem)/ 83.125)
    }
  }
}
@media (min-width:47.99875em) and (max-width:88.75em) {
  @supports ((-moz-column-gap:clamp(1.25rem ,-0.4431555014rem + 3.5274991565vw ,2.6875rem)) or (column-gap:clamp(1.25rem ,-0.4431555014rem + 3.5274991565vw ,2.6875rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1.25rem ,-.4431555014rem + 3.5274991565vw ,2.6875rem);
      -moz-column-gap: clamp(1.25rem ,-.4431555014rem + 3.5274991565vw ,2.6875rem);
      column-gap: clamp(1.25rem ,-.4431555014rem + 3.5274991565vw ,2.6875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,-0.4431555014rem + 3.5274991565vw ,2.6875rem)) or (column-gap:clamp(1.25rem ,-0.4431555014rem + 3.5274991565vw ,2.6875rem))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.4375 * (100vw - 47.99875rem)/ 40.75125);
      -moz-column-gap: calc(1.25rem + 1.4375 * (100vw - 47.99875rem)/ 40.75125);
      column-gap: calc(1.25rem + 1.4375 * (100vw - 47.99875rem)/ 40.75125)
    }
  }
}
@media (min-width:20em) and (max-width:103.125em) {
  @supports (padding-left:clamp(0.625rem ,0.3242481203rem + 1.5037593985vw ,1.875rem)) {
    .spollers__title {
      padding-left: clamp(.625rem ,.3242481203rem + 1.5037593985vw ,1.875rem)
    }
  }
  @supports not (padding-left:clamp(0.625rem ,0.3242481203rem + 1.5037593985vw ,1.875rem)) {
    .spollers__title {
      padding-left: calc(.625rem + 1.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-right:clamp(0.625rem ,0.3242481203rem + 1.5037593985vw ,1.875rem)) {
    .spollers__title {
      padding-right: clamp(.625rem ,.3242481203rem + 1.5037593985vw ,1.875rem)
    }
  }
  @supports not (padding-right:clamp(0.625rem ,0.3242481203rem + 1.5037593985vw ,1.875rem)) {
    .spollers__title {
      padding-right: calc(.625rem + 1.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (font-size:clamp(1rem ,0.969924812rem + 0.1503759398vw ,1.125rem)) {
    .spollers__body {
      font-size: clamp(1rem ,.969924812rem + .1503759398vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.969924812rem + 0.1503759398vw ,1.125rem)) {
    .spollers__body {
      font-size: calc(1rem + .125 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (font-size:clamp(3.75rem ,3.5996240602rem + 0.7518796992vw ,4.375rem)) {
    .title {
      font-size: clamp(3.75rem ,3.5996240602rem + .7518796992vw ,4.375rem)
    }
  }
  @supports not (font-size:clamp(3.75rem ,3.5996240602rem + 0.7518796992vw ,4.375rem)) {
    .title {
      font-size: calc(3.75rem + .625 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (width:clamp(21.875rem ,18.3411654135rem + 17.6691729323vw ,36.5625rem)) {
    .circle {
      width: clamp(21.875rem ,18.3411654135rem + 17.6691729323vw ,36.5625rem)
    }
  }
  @supports not (width:clamp(21.875rem ,18.3411654135rem + 17.6691729323vw ,36.5625rem)) {
    .circle {
      width: calc(21.875rem + 14.6875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (height:clamp(21.875rem ,18.3411654135rem + 17.6691729323vw ,36.5625rem)) {
    .circle {
      height: clamp(21.875rem ,18.3411654135rem + 17.6691729323vw ,36.5625rem)
    }
  }
  @supports not (height:clamp(21.875rem ,18.3411654135rem + 17.6691729323vw ,36.5625rem)) {
    .circle {
      height: calc(21.875rem + 14.6875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (top:clamp(-5.625rem ,-4.8496240602rem + -0.7518796992vw ,-5rem)) {
    ._icon-money-bag {
      top: clamp(-5.625rem ,-4.8496240602rem + -.7518796992vw ,-5rem)
    }
  }
  @supports not (top:clamp(-5.625rem ,-4.8496240602rem + -0.7518796992vw ,-5rem)) {
    ._icon-money-bag {
      top: calc(-5rem + -.625 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (width:clamp(36.5625rem ,36.5625rem + 0vw ,36.5625rem)) {
    .image-block__circle {
      width: clamp(36.5625rem ,36.5625rem + 0 ,36.5625rem)
    }
  }
  @supports not (width:clamp(36.5625rem ,36.5625rem + 0vw ,36.5625rem)) {
    .image-block__circle {
      width: calc(36.5625rem + 0 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (height:clamp(36.5625rem ,36.5625rem + 0vw ,36.5625rem)) {
    .image-block__circle {
      height: clamp(36.5625rem ,36.5625rem + 0 ,36.5625rem)
    }
  }
  @supports not (height:clamp(36.5625rem ,36.5625rem + 0vw ,36.5625rem)) {
    .image-block__circle {
      height: calc(36.5625rem + 0 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (height:clamp(6.25rem ,5.9492481203rem + 1.5037593985vw ,7.5rem)) {
    .header::before {
      height: clamp(6.25rem ,5.9492481203rem + 1.5037593985vw ,7.5rem)
    }
  }
  @supports not (height:clamp(6.25rem ,5.9492481203rem + 1.5037593985vw ,7.5rem)) {
    .header::before {
      height: calc(6.25rem + 1.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (height:clamp(6.25rem ,4.9868421053rem + 6.3157894737vw ,11.5rem)) {
    .header__container {
      height: clamp(6.25rem ,4.9868421053rem + 6.3157894737vw ,11.5rem)
    }
  }
  @supports not (height:clamp(6.25rem ,4.9868421053rem + 6.3157894737vw ,11.5rem)) {
    .header__container {
      height: calc(6.25rem + 5.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (gap:clamp(1.25rem ,1.0996240602rem + 0.7518796992vw ,1.875rem)) {
    .header__container {
      gap: clamp(1.25rem ,1.0996240602rem + .7518796992vw ,1.875rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,1.0996240602rem + 0.7518796992vw ,1.875rem)) {
    .header__container {
      gap: calc(1.25rem + .625 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (height:clamp(6.25rem ,5.9492481203rem + 1.5037593985vw ,7.5rem)) {
    ._header-scroll .header__container {
      height: clamp(6.25rem ,5.9492481203rem + 1.5037593985vw ,7.5rem)
    }
  }
  @supports not (height:clamp(6.25rem ,5.9492481203rem + 1.5037593985vw ,7.5rem)) {
    ._header-scroll .header__container {
      height: calc(6.25rem + 1.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(1.875rem ,1.3035714286rem + 2.8571428571vw ,4.25rem)) {
    .footer__container {
      padding-top: clamp(1.875rem ,1.3035714286rem + 2.8571428571vw ,4.25rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,1.3035714286rem + 2.8571428571vw ,4.25rem)) {
    .footer__container {
      padding-top: calc(1.875rem + 2.375 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,2.3731203008rem + 3.7593984962vw ,6.25rem)) {
    .main-footer {
      padding-bottom: clamp(3.125rem ,2.3731203008rem + 3.7593984962vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,2.3731203008rem + 3.7593984962vw ,6.25rem)) {
    .main-footer {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.7086466165rem + 2.7067669173vw ,3.5rem)) {
    .bottom-footer {
      padding-top: clamp(1.25rem ,.7086466165rem + 2.7067669173vw ,3.5rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.7086466165rem + 2.7067669173vw ,3.5rem)) {
    .bottom-footer {
      padding-top: calc(1.25rem + 2.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.7086466165rem + 2.7067669173vw ,3.5rem)) {
    .bottom-footer {
      padding-bottom: clamp(1.25rem ,.7086466165rem + 2.7067669173vw ,3.5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.7086466165rem + 2.7067669173vw ,3.5rem)) {
    .bottom-footer {
      padding-bottom: calc(1.25rem + 2.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (gap:clamp(1.25rem ,0.8740601504rem + 1.8796992481vw ,2.8125rem)) {
    .menu-footer__list {
      gap: clamp(1.25rem ,.8740601504rem + 1.8796992481vw ,2.8125rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.8740601504rem + 1.8796992481vw ,2.8125rem)) {
    .menu-footer__list {
      gap: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(9.375rem ,7.8562030075rem + 7.5939849624vw ,15.6875rem)) {
    .page {
      padding-top: clamp(9.375rem ,7.8562030075rem + 7.5939849624vw ,15.6875rem)
    }
  }
  @supports not (padding-top:clamp(9.375rem ,7.8562030075rem + 7.5939849624vw ,15.6875rem)) {
    .page {
      padding-top: calc(9.375rem + 6.3125 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-bottom:clamp(6.25rem ,4.7462406015rem + 7.5187969925vw ,12.5rem)) {
    .page {
      padding-bottom: clamp(6.25rem ,4.7462406015rem + 7.5187969925vw ,12.5rem)
    }
  }
  @supports not (padding-bottom:clamp(6.25rem ,4.7462406015rem + 7.5187969925vw ,12.5rem)) {
    .page {
      padding-bottom: calc(6.25rem + 6.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(5.625rem ,3.7753759398rem + 9.2481203008vw ,13.3125rem)) {
    .page__partners {
      padding-top: clamp(5.625rem ,3.7753759398rem + 9.2481203008vw ,13.3125rem)
    }
  }
  @supports not (padding-top:clamp(5.625rem ,3.7753759398rem + 9.2481203008vw ,13.3125rem)) {
    .page__partners {
      padding-top: calc(5.625rem + 7.6875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)) {
    .page__farm-vest {
      padding-top: clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)
    }
  }
  @supports not (padding-top:clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)) {
    .page__farm-vest {
      padding-top: calc(5.625rem + 6.875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)) {
    .page__pathway {
      padding-top: clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)
    }
  }
  @supports not (padding-top:clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)) {
    .page__pathway {
      padding-top: calc(5.625rem + 6.875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)) {
    .page__why {
      padding-top: clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)
    }
  }
  @supports not (padding-top:clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)) {
    .page__why {
      padding-top: calc(5.625rem + 6.875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)) {
    .page__customers {
      padding-top: clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)
    }
  }
  @supports not (padding-top:clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)) {
    .page__customers {
      padding-top: calc(5.625rem + 6.875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)) {
    .page__app {
      padding-top: clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)
    }
  }
  @supports not (padding-top:clamp(5.625rem ,3.9708646617rem + 8.2706766917vw ,12.5rem)) {
    .page__app {
      padding-top: calc(5.625rem + 6.875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (font-size:clamp(3.125rem ,2.8242481203rem + 1.5037593985vw ,4.375rem)) {
    .invest__title {
      font-size: clamp(3.125rem ,2.8242481203rem + 1.5037593985vw ,4.375rem)
    }
  }
  @supports not (font-size:clamp(3.125rem ,2.8242481203rem + 1.5037593985vw ,4.375rem)) {
    .invest__title {
      font-size: calc(3.125rem + 1.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (margin-bottom:clamp(3rem ,2.6842105263rem + 1.5789473684vw ,4.3125rem)) {
    .invest__title:not(:last-child) {
      margin-bottom: clamp(3rem ,2.6842105263rem + 1.5789473684vw ,4.3125rem)
    }
  }
  @supports not (margin-bottom:clamp(3rem ,2.6842105263rem + 1.5789473684vw ,4.3125rem)) {
    .invest__title:not(:last-child) {
      margin-bottom: calc(3rem + 1.3125 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(3.75rem ,2.1560150376rem + 7.969924812vw ,10.375rem)) {
    .farm-vest__image-block {
      padding-top: clamp(3.75rem ,2.1560150376rem + 7.969924812vw ,10.375rem)
    }
  }
  @supports not (padding-top:clamp(3.75rem ,2.1560150376rem + 7.969924812vw ,10.375rem)) {
    .farm-vest__image-block {
      padding-top: calc(3.75rem + 6.625 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-bottom:clamp(3.75rem ,2.1560150376rem + 7.969924812vw ,10.375rem)) {
    .farm-vest__image-block {
      padding-bottom: clamp(3.75rem ,2.1560150376rem + 7.969924812vw ,10.375rem)
    }
  }
  @supports not (padding-bottom:clamp(3.75rem ,2.1560150376rem + 7.969924812vw ,10.375rem)) {
    .farm-vest__image-block {
      padding-bottom: calc(3.75rem + 6.625 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-left:clamp(0.625rem ,0.0986842105rem + 2.6315789474vw ,2.8125rem)) {
    .farm-vest__image-block {
      padding-left: clamp(.625rem ,.0986842105rem + 2.6315789474vw ,2.8125rem)
    }
  }
  @supports not (padding-left:clamp(0.625rem ,0.0986842105rem + 2.6315789474vw ,2.8125rem)) {
    .farm-vest__image-block {
      padding-left: calc(.625rem + 2.1875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-right:clamp(0.625rem ,0.0986842105rem + 2.6315789474vw ,2.8125rem)) {
    .farm-vest__image-block {
      padding-right: clamp(.625rem ,.0986842105rem + 2.6315789474vw ,2.8125rem)
    }
  }
  @supports not (padding-right:clamp(0.625rem ,0.0986842105rem + 2.6315789474vw ,2.8125rem)) {
    .farm-vest__image-block {
      padding-right: calc(.625rem + 2.1875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (gap:clamp(1.25rem ,1.0695488722rem + 0.9022556391vw ,2rem)) {
    .item-farm-vest {
      gap: clamp(1.25rem ,1.0695488722rem + .9022556391vw ,2rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,1.0695488722rem + 0.9022556391vw ,2rem)) {
    .item-farm-vest {
      gap: calc(1.25rem + .75 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (width:clamp(3.125rem ,2.2227443609rem + 4.5112781955vw ,6.875rem)) {
    .item-farm-vest__icon {
      width: clamp(3.125rem ,2.2227443609rem + 4.5112781955vw ,6.875rem)
    }
  }
  @supports not (width:clamp(3.125rem ,2.2227443609rem + 4.5112781955vw ,6.875rem)) {
    .item-farm-vest__icon {
      width: calc(3.125rem + 3.75 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (height:clamp(3.125rem ,2.2227443609rem + 4.5112781955vw ,6.875rem)) {
    .item-farm-vest__icon {
      height: clamp(3.125rem ,2.2227443609rem + 4.5112781955vw ,6.875rem)
    }
  }
  @supports not (height:clamp(3.125rem ,2.2227443609rem + 4.5112781955vw ,6.875rem)) {
    .item-farm-vest__icon {
      height: calc(3.125rem + 3.75 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.4840225564rem + 1.954887218vw ,3.5rem)) {
    .item-farm-vest__icon::before {
      font-size: clamp(1.875rem ,1.4840225564rem + 1.954887218vw ,3.5rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.4840225564rem + 1.954887218vw ,3.5rem)) {
    .item-farm-vest__icon::before {
      font-size: calc(1.875rem + 1.625 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(3.75rem ,3.1635338346rem + 2.9323308271vw ,6.1875rem)) {
    .pathway__image-block {
      padding-top: clamp(3.75rem ,3.1635338346rem + 2.9323308271vw ,6.1875rem)
    }
  }
  @supports not (padding-top:clamp(3.75rem ,3.1635338346rem + 2.9323308271vw ,6.1875rem)) {
    .pathway__image-block {
      padding-top: calc(3.75rem + 2.4375 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-bottom:clamp(3.75rem ,3.1635338346rem + 2.9323308271vw ,6.1875rem)) {
    .pathway__image-block {
      padding-bottom: clamp(3.75rem ,3.1635338346rem + 2.9323308271vw ,6.1875rem)
    }
  }
  @supports not (padding-bottom:clamp(3.75rem ,3.1635338346rem + 2.9323308271vw ,6.1875rem)) {
    .pathway__image-block {
      padding-bottom: calc(3.75rem + 2.4375 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-left:clamp(0.625rem ,0.1738721805rem + 2.2556390977vw ,2.5rem)) {
    .pathway__image-block {
      padding-left: clamp(.625rem ,.1738721805rem + 2.2556390977vw ,2.5rem)
    }
  }
  @supports not (padding-left:clamp(0.625rem ,0.1738721805rem + 2.2556390977vw ,2.5rem)) {
    .pathway__image-block {
      padding-left: calc(.625rem + 1.875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-right:clamp(0.625rem ,0.1738721805rem + 2.2556390977vw ,2.5rem)) {
    .pathway__image-block {
      padding-right: clamp(.625rem ,.1738721805rem + 2.2556390977vw ,2.5rem)
    }
  }
  @supports not (padding-right:clamp(0.625rem ,0.1738721805rem + 2.2556390977vw ,2.5rem)) {
    .pathway__image-block {
      padding-right: calc(.625rem + 1.875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (font-size:clamp(3.125rem ,2.8242481203rem + 1.5037593985vw ,4.375rem)) {
    .pathway__title {
      font-size: clamp(3.125rem ,2.8242481203rem + 1.5037593985vw ,4.375rem)
    }
  }
  @supports not (font-size:clamp(3.125rem ,2.8242481203rem + 1.5037593985vw ,4.375rem)) {
    .pathway__title {
      font-size: calc(3.125rem + 1.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (gap:clamp(2.5rem ,2.3796992481rem + 0.6015037594vw ,3rem)) {
    .steps-why {
      gap: clamp(2.5rem ,2.3796992481rem + .6015037594vw ,3rem)
    }
  }
  @supports not (gap:clamp(2.5rem ,2.3796992481rem + 0.6015037594vw ,3rem)) {
    .steps-why {
      gap: calc(2.5rem + .5 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (gap:clamp(2.5rem ,2.3796992481rem + 0.6015037594vw ,3rem)) {
    .customers__items {
      gap: clamp(2.5rem ,2.3796992481rem + .6015037594vw ,3rem)
    }
  }
  @supports not (gap:clamp(2.5rem ,2.3796992481rem + 0.6015037594vw ,3rem)) {
    .customers__items {
      gap: calc(2.5rem + .5 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (font-size:clamp(2.25rem ,1.9492481203rem + 1.5037593985vw ,3.5rem)) {
    .app__title {
      font-size: clamp(2.25rem ,1.9492481203rem + 1.5037593985vw ,3.5rem)
    }
  }
  @supports not (font-size:clamp(2.25rem ,1.9492481203rem + 1.5037593985vw ,3.5rem)) {
    .app__title {
      font-size: calc(2.25rem + 1.25 * (100vw - 20rem)/ 83.125)
    }
  }
}
@media (min-width:62.5em) and (max-width:101.25em) {
  @supports (padding-left:clamp(0.0000000625rem ,-20.1612901593rem + 32.2580643548vw ,12.5rem)) {
    .header__menu {
      padding-left: clamp(.0000000625rem ,-20.1612901593rem + 32.2580643548vw ,12.5rem)
    }
  }
  @supports not (padding-left:clamp(0.0000000625rem ,-20.1612901593rem + 32.2580643548vw ,12.5rem)) {
    .header__menu {
      padding-left: calc(.0000000625rem + 12.4999999375 * (100vw - 62.5rem)/ 38.75)
    }
  }
}
@media (min-width:61.99875em) and (min-width:61.99875em) and (max-width:101.25em) {
  @supports (padding-right:clamp(1.25rem ,-1.1015337489rem + 3.7928728384vw ,2.73875rem)) {
    .header__button-border {
      padding-right: clamp(1.25rem ,-1.1015337489rem + 3.7928728384vw ,2.73875rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,-1.1015337489rem + 3.7928728384vw ,2.73875rem)) {
    .header__button-border {
      padding-right: calc(1.25rem + 1.48875 * (100vw - 61.99875rem)/ 39.25125)
    }
  }
  @supports (padding-left:clamp(1.25rem ,-1.1015337489rem + 3.7928728384vw ,2.73875rem)) {
    .header__button-border {
      padding-left: clamp(1.25rem ,-1.1015337489rem + 3.7928728384vw ,2.73875rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,-1.1015337489rem + 3.7928728384vw ,2.73875rem)) {
    .header__button-border {
      padding-left: calc(1.25rem + 1.48875 * (100vw - 61.99875rem)/ 39.25125)
    }
  }
  @supports (padding-top:clamp(0.5rem ,-0.6846517627rem + 1.910767173vw ,1.25rem)) {
    .header__button-border {
      padding-top: clamp(.5rem ,-.6846517627rem + 1.910767173vw ,1.25rem)
    }
  }
  @supports not (padding-top:clamp(0.5rem ,-0.6846517627rem + 1.910767173vw ,1.25rem)) {
    .header__button-border {
      padding-top: calc(.5rem + .75 * (100vw - 61.99875rem)/ 39.25125)
    }
  }
  @supports (padding-bottom:clamp(0.5rem ,-0.6846517627rem + 1.910767173vw ,1.25rem)) {
    .header__button-border {
      padding-bottom: clamp(.5rem ,-.6846517627rem + 1.910767173vw ,1.25rem)
    }
  }
  @supports not (padding-bottom:clamp(0.5rem ,-0.6846517627rem + 1.910767173vw ,1.25rem)) {
    .header__button-border {
      padding-bottom: calc(.5rem + .75 * (100vw - 61.99875rem)/ 39.25125)
    }
  }
  @supports (padding-right:clamp(0.625rem ,-0.8715113392rem + 2.4137766313vw ,1.5724375rem)) {
    .header__button {
      padding-right: clamp(.625rem ,-.8715113392rem + 2.4137766313vw ,1.5724375rem)
    }
  }
  @supports not (padding-right:clamp(0.625rem ,-0.8715113392rem + 2.4137766313vw ,1.5724375rem)) {
    .header__button {
      padding-right: calc(.625rem + .9474375 * (100vw - 61.99875rem)/ 39.25125)
    }
  }
  @supports (padding-left:clamp(0.625rem ,-0.8715113392rem + 2.4137766313vw ,1.5724375rem)) {
    .header__button {
      padding-left: clamp(.625rem ,-.8715113392rem + 2.4137766313vw ,1.5724375rem)
    }
  }
  @supports not (padding-left:clamp(0.625rem ,-0.8715113392rem + 2.4137766313vw ,1.5724375rem)) {
    .header__button {
      padding-left: calc(.625rem + .9474375 * (100vw - 61.99875rem)/ 39.25125)
    }
  }
  @supports (padding-top:clamp(0.6875rem ,-0.2997098022rem + 1.5923059775vw ,1.3125rem)) {
    .header__button {
      padding-top: clamp(.6875rem ,-.2997098022rem + 1.5923059775vw ,1.3125rem)
    }
  }
  @supports not (padding-top:clamp(0.6875rem ,-0.2997098022rem + 1.5923059775vw ,1.3125rem)) {
    .header__button {
      padding-top: calc(.6875rem + .625 * (100vw - 61.99875rem)/ 39.25125)
    }
  }
  @supports (padding-bottom:clamp(0.6875rem ,-0.2997098022rem + 1.5923059775vw ,1.3125rem)) {
    .header__button {
      padding-bottom: clamp(.6875rem ,-.2997098022rem + 1.5923059775vw ,1.3125rem)
    }
  }
  @supports not (padding-bottom:clamp(0.6875rem ,-0.2997098022rem + 1.5923059775vw ,1.3125rem)) {
    .header__button {
      padding-bottom: calc(.6875rem + .625 * (100vw - 61.99875rem)/ 39.25125)
    }
  }
}
@media (min-width:61.99875em) and (max-width:61.99875em) {
  .header__button-border {
    padding-right: 1.25rem
  }
  .header__button-border {
    padding-left: 1.25rem
  }
  .header__button-border {
    padding-top: .5rem
  }
  .header__button-border {
    padding-bottom: .5rem
  }
  .header__button {
    padding-right: .625rem
  }
  .header__button {
    padding-left: .625rem
  }
  .header__button {
    padding-top: .6875rem
  }
  .header__button {
    padding-bottom: .6875rem
  }
}
@media (max-width:61.99875em) and (min-width:29.99875em) {
  .main-footer__info {
    order: 1
  }
  .form-footer {
    order: 3;
    grid-column: span 2
  }
  .contacts-footer {
    order: 2
  }
}
@media (min-width:61.99875em) and (min-width:62.5em) and (max-width:88.75em) {
  @supports (min-width:clamp(26.25rem ,9.4345238095rem + 26.9047619048vw ,33.3125rem)) {
    .form-footer {
      min-width: clamp(26.25rem ,9.4345238095rem + 26.9047619048vw ,33.3125rem)
    }
  }
  @supports not (min-width:clamp(26.25rem ,9.4345238095rem + 26.9047619048vw ,33.3125rem)) {
    .form-footer {
      min-width: calc(26.25rem + 7.0625 * (100vw - 62.5rem)/ 26.25)
    }
  }
}
@media (min-width:61.99875em) and (max-width:62.5em) {
  .form-footer {
    min-width: 26.25rem
  }
}